//padding variables
$padding-none: 0px;
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 20px;
$padding-extralarge: 40px;

//margin-variables
$pargin-none: 0px;
$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 20px;
$margin-extralarge: 40px;

//font-family
$font-family: Roboto, Arial, sans-serif;